@model Common.SiteSettings
<footer id="footer" class="footer-five">
    <div class="container">
       
        <div class="site-info">
            <div class="copyright">
                <p>
                    © 1399 تمام حقوق محفوظ است. @Model.SiteInfo.CompanyInfo
                    <a href="https://www.rtl-theme.com/user-profile/tn_plugin/" target="_blank">تی ان پلاگین</a>
                </p>
            </div>
            <ul class="site-info-menu">
                <li>
                    <a href="#">سیاست حفظ حریم خصوصی</a>
                </li>
                <li>
                    <a href="#">نقل و قل </a>
                </li>
                <li>
                    <a href="#"> قوانین سایت </a>
                </li>
            </ul>
        </div>
    </div>
</footer>