<section class="signup-section">
    <div class="bg-shape">
        <img src="~/Content/media/background/left-shape.png" data-parallax='{"x": -130}' alt="shape" class="shape-left">
        <img src="~/Content/media/background/right_shape.png" data-parallax='{"x": 130}' alt="shape" class="shape-right">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="signup-heading wow pixFadeUp">
                    <h2 class="title">شروع رایگان</h2>
                    <p>هم اکنون می توانید به صورت رایگان از خدمات ما بهرمند شوید </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="button-container text-right wow pixFadeUp">
                    <a asp-controller="Auth" asp-action="Register" class="pix-btn btn-large btn-light color-two">تهیه دیسک رایگان </a>
                </div>
            </div>
        </div>
    </div>
</section>