
@{
    ViewData["Title"] = "ثبت نام ";
}

    <div class="alert alert-success">
        <h2 class="justify-content-center">اطلاعات کاربری شما با موفقیت ثبت شد</h2>
        <p>شما هم اکنون می توانیداز امکانات سامانه استفاده نمایید</p>
    </div>

